/* ------------------------------------------------------------------------------
	Description: About Me
	Author: David Ferland
	Author URI: http://www.davidferland.info
	
	1. CSS Reset
	2. Document Setup

/* ------------------------------------------------------------------------------ */		
		
  body {
      font: 20px Comfortaa, cursive;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-scheme-1 { 
      background-color: #000000;
      color: #ffffff;
  }
  .bg-scheme-2 { 
      background-color: #5CDB95;
      color: #555555;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-brand {
    font: 20px 'Comfortaa', cursive;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  .gototop {
	display:inline-block;
	width:40px;
	height:40px;
	border:2px solid #746c75;
}
.gototop i {
	color:#817a82;
	line-height:35px;
}